.wrapper {
  display: block;

  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    color: #ffffff;
    text-align: center;
  }

  p {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #bcbcbc;
  }

  .form-wrapper {
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin: 60px 0 120px;
  }
}
