.wrapper {
  background-color: var(--bg-primary);
  padding-top: 12vw;
  padding-bottom: 8vw;
  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: var(--white);
    max-width: 494px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
  }
  .panel {
    padding: 2rem 0;
  }
  :global {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      flex-direction: row-reverse;
    }

    .ant-collapse-item {
      border: 1px solid #ffffff;
      border-radius: 5px;
      margin-bottom: 20px;
    }
  }
}
